/*universal styles*/

h3 {
	font-family: "essonnes-display", serif;
	font-weight: 400;
}


/*header styles*/

.name {
	text-align: center;
	margin: 0 auto;
	padding-top: 2rem 2rem 2rem 2rem;
	background-color: #000000;
	color: #000;
}

